<a href="https://colab.research.google.com/github/samuelbezerra23/projeto-quinta/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(42)
idades = np.random.randint(18, 65, size=200)
rendas = np.random.choise(['Baixa', 'Média', 'Alta'],
                          size=200, p=[0.4, 0.4, 0.2])
estudantes = np.random.choise(['Sim', 'Não'],
                              size=200, p=[0.3, 0.7])

AttributeError: module 'numpy.random' has no attribute 'choise'

In [ ]:
compra = []
for idade, renda, estudante in zip(
    idades, rendas, estudantes):
    if(
        idade<30 and renda in ['Média', 'Alta']) or estudante=='Sim':
        compra.append('Sim' if np.random.rand() > 0.2 else 'Não')
    elif renda == 'Alta':
        compra.append('Sim' if np.random.rand() > 0.4 else 'Não')
    else:
      compra.append('Não' if np.random.rand() > 0.2 else 'Sim')

In [ ]:
df = pd.DataFrame({
    'Idade': idades,
    'Renda': rendas,
    'Estudantes': estudantes,
    'Compra': compra
})
print("Exemplo da base de dados:\n", df.head())